body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
}

.content {
    width: 940px;
    max-width: 96%;
    margin: 30px auto 0 auto;
}

a {
    color: #69C;
    text-decoration: none;
}

    a:hover {
        color: #F60;
    }

h1 {
    font: 1.5em;
    line-height: 110%;
    color: #000;
}

h1, h2, h3 {
    color: #000;
}

h3 {
    padding: 20px 0;
    margin: 20px 0 0;
    font-size: 1.2em;
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

div {
    display: block;
}

.photo {
    width: 100%;
    height: auto;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.name {
    text-align: center;
    display: block;
    font-size: 1em;
    font-weight: bold;
}

#footer {
    margin-top: 30px;
    width: 100%;
    background: #f2f2f2;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.9em;
    border-top: 1px solid #e4e4e4;
}

.pagination {
    margin-top: 30px;
}

.ratings {
    text-align: center;
    font-size: 0.8em;
    color: #999;
}

    .ratings .best-rating {
        color: #e2e2e2;
    }

    .ratings .ratings-value {
        font-weight: bold;
    }

.search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

#menu {
    display: none;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #191818;
    overflow-y: auto;
    border-right: 1px solid #999;
    -webkit-overflow-scrolling: touch;
}

    #menu li:hover,
    #menu li:focus {
        background: #333;
    }

    #menu li a {
        color: #999;
        display: block;
        line-height: 1.5em;
        padding: 0.625em 1em;
    }

    #menu li.selected a {
        color: #fff;
    }

    #menu li.selected {
        background: #1f8dd6;
    }

    #menu ul {
        border: 0;
    }

    #menu .menu-header {
        font-size: 1em;
        display: block;
        padding: 0.625em 1em;
        letter-spacing: 0.1em;
        color: #fff;
        margin-top: 0;
        line-height: 1.5em;
        text-transform: uppercase;
        border-bottom: 1px solid #333;
        box-sizing: border-box;
    }

        #menu .menu-header:hover,
        #menu .menu-header:focus {
            color: #999;
        }

.stars {
    background: url("/static/stars.gif") no-repeat;
    height: 11px;
    width: 100%;
    background-position: 0 -111px;
    display: inline-block;
}

.stars-100 {
    background-position: 0 0px;
}

.stars-90 {
    background-position: 0 -11px;
}

.stars-80 {
    background-position: 0 -22px;
}

.stars-70 {
    background-position: 0 -33px;
}

.stars-60 {
    background-position: 0 -44px;
}

.stars-50 {
    background-position: 0 -55px;
}

.stars-40 {
    background-position: 0 -66px;
}

.stars-30 {
    background-position: 0 -77px;
}

.stars-20 {
    background-position: 0 -88px;
}

.stars-10 {
    background-position: 0 -99px;
}

.stars-0 {
    background-position: 0 -111px;
}
