{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='hmc.home.js')}}"></script>
{% endblock %}
{% block header %}
<h1>Home Media Center</h1>
<h2>Enjoy the media files from my PRIVATE clould storage</h2>
{% endblock %}
{% block content %}
<div class="home-body">
    {% include 'fragment-search-bar.html' %}
</div>
<script type="text/javascript">
    $(function () { new HMC.Home.Handler(); HMC.Common.ActiveMenuItem('#home'); });
</script>
{% endblock %}