{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='hmc.home.js')}}"></script>
{% endblock %}
{% block content %}
<div class="main">
    <div class="container">
        <p>Welcome!</p>
        <form action="{{url_for('movies.home')}}">
            <label for="q">Search: </label>
            <input type="text" id="q" name="q" />
            <input type="submit" id="search" value="Search" />
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () { new HMC.Home.Handler(); HMC.Common.ActiveMenuItem('#home'); });
</script>
{% endblock %}