{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='hmc.home.js')}}"></script>
{% endblock %}
{% block header %}
<p>Home Media Center!</p>
{% endblock %}
{% block content %}
<div class="home-body">
    <div class="search-bar">
        <form action="{{url_for('movies.home')}}">
            <span><input type="text" id="q" name="q" /></span>
            <input type="submit" id="search" value="Search" />
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () { new HMC.Home.Handler(); HMC.Common.ActiveMenuItem('#home'); });
</script>
{% endblock %}